
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: marqueeFont;
    src:url('/fonts/beadchain/MARQUEE_.TTF');
}

.titletext{
    font-family: 'Anton', sans-serif;
    color: ivory;
    font-size: 36px;
    text-align: center;
}

.marquee{
    font-family: 'Arial';
    font-weight: 700;
    font-size: 48px;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.categories > div{
    background-color: ivory;
    border-radius: 25px;
    padding: 4px 10px;
    margin: 0px 8px 0px 0px;
    border-color: black;
    border-width: 0.25px;
}
.showtimes{
    font-family: marqueeFont;
    text-align: center;
    font-size: 52px;
    color: yellow;
}
